<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hlm.system.helmetstate.HelmetStateMapper">
    <insert id="insert" parameterType="helmetState">
        INSERT INTO HELMET_STATE (NO, DATE_TIME, LATITUDE, LONGITUDE, LOSS, HELMET_NO)
        VALUES(#{no}, #{dateTime}, #{latitude}, #{longitude}, #{loss}, #{helmetNo})
    </insert>

    <select id="selectAll" parameterType="helmetState" resultType="helmetState">
        SELECT @ROWNUM:=@ROWNUM+1 AS RN, NO, DATE_TIME, LATITUDE, LONGITUDE, LOSS, HELMET_NO
        FROM HELMET_STATE
        <where>
            <if test="helmetNo != null">
                HELMET_NO = #{helmetNo}
            </if>
        </where>
        <if test="helmetNo != null and no != -1">
            LIMIT ${no}, 5
        </if>
    </select>

    <select id="select" parameterType="helmetState" resultType="helmetState">
        SELECT NO, MAX(DATE_TIME), LATITUDE, LONGITUDE, LOSS, HELMET_NO
        FROM HELMET_STATE
        WHERE HELMET_NO = #{helmetNo}
        GROUP BY HELMET_NO
    </select>

    <update id="update" parameterType="HelmetState">
        UPDATE HELMET_STATE
        <choose>
            <when test="activation == 'Y'">>
                SET ACTIVATION = 'N'
            </when>
            <when test="activation == 'N'">
                SET ACTIVATION = 'Y'
            </when>
        </choose>
        WHERE NO = #{no}
    </update>
</mapper>