<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hlm.system.helmet.HelmetMapper">
    <insert id="insert" parameterType="kr.co.hlm.system.helmet.Helmet">
        INSERT INTO HELMET (NO, MODEL, SIZE, IP, ACTIVATION, KICKBOARD_IP)
        VALUES(#{no}, #{model}, #{size}, #{ip}, #{activation}, #{kickboardIp})
    </insert>

    <select id="selectAll" parameterType="kr.co.hlm.system.helmet.Helmet" resultType="kr.co.hlm.system.helmet.Helmet">
        SELECT NO, MODEL, SIZE, IP, ACTIVATION, KICKBOARD_IP
        FROM HELMET
        <where>
            <choose>
                <when test="no != null and no != ''">
                    NO = #{no}
                </when>
                <when test="model != null and model != ''">
                    MODEL = #{model}
                </when>
                <otherwise>
                    activation = 'Y'
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="select" parameterType="kr.co.hlm.system.helmet.Helmet" resultType="kr.co.hlm.system.helmet.Helmet">
        SELECT NO, MODEL, SIZE, IP, ACTIVATION, KICKBOARD_IP
        FROM HELMET
        WHERE NO = #{no}
--           AND activation = 'Y';
    </select>

    <update id="update" parameterType="kr.co.hlm.system.helmet.Helmet">
        UPDATE HELMET
        SET ACTIVATION = #{activation}
        WHERE NO = #{no}
    </update>
</mapper>