<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hlm.system.kickboard.KickboardMapper">
    <insert id="insert" parameterType="kickboard">
        INSERT INTO KICKBOARD (NO, MODEL, IP, ACTIVATION)
        VALUES(#{no}, #{model}, #{ip}, #{activation})
    </insert>

    <select id="selectAll" parameterType="kickboard" resultType="kickboard">
        SELECT NO, MODEL, IP, ACTIVATION
        FROM KICKBOARD
        <where>
            <choose>
                <when test="no != null">
                    NO = #{no}
                    AND activation = 'Y'
                </when>
                <when test="model != null">
                    MODEL = #{model}
                    AND activation = 'Y'
                </when>
            </choose>
        </where>
    </select>

    <select id="select" parameterType="String" resultType="kickboard">
        SELECT NO, MODEL, IP, ACTIVATION
        FROM KICKBOARD
        WHERE NO = #{no}
    </select>

    <update id="update" parameterType="kickboard">
        UPDATE KICKBOARD
        SET ACTIVATION = #{activation}
        WHERE NO = #{no}
    </update>
    
    <select id="selectAllCount" parameterType="page" resultType="kickboard">
        SELECT @ROWNUM:=@ROWNUM+1 AS RN, NO, IP, MODEL, ACTIVATION
        FROM KICKBOARD,  (SELECT @ROWNUM:=0) R
        ORDER BY NO DESC, RN DESC
        <if test="endRn > 0">
            LIMIT #{startRn}, 10
        </if>
    </select>
</mapper>